@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, KitKat Lovers!</h1>

Welcome to this mega useful site, covering the worlds TOP consumers of KitKat! Checkout the Top List and Register your consumption in the menu to the left.

<SurveyPrompt Title="Disclaimer! Massive consumption of KitKat will induse stomach ache and other unpleasanties. Youve been warned!" />
